<a href="https://colab.research.google.com/github/TrekkerVikk/Trishaan/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Create first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [2]:
# print type of the tuple you created

type(tuple1)

tuple

In [3]:
# print variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [4]:
# Print type of value on each index

# print(type(tuple1[0]))
# print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'float'>

In [6]:
# use negative index to get the value of the last element

tuple1[-1]

1.2

In [7]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [9]:
# Use the negative index to get the value of third last element

tuple1[-3]

'disco'

In [12]:
## Concatenate Tuples

In [15]:
[ ] # Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

Slicing

In [17]:
[ ] # Slice from indes 0 to index 2

tuple2[0:2]

('disco', 10)

In [22]:
[] tu = ("a", "b", "c", "d")

    #      0    1    2     3

SyntaxError: ignored

In [23]:
  { } # Slice from index 3 to index 4

  tuple2[3:5] #3 & 4

('hard rock', 10)

In [5]:
[ ] #Get the length of the tuple

len(tuple3)

NameError: ignored

*Sorting*

In [7]:
[ ] # A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [8]:
[ ] # Sort the tuple

RatingSorted = sorted(Ratings)
RatingSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

**Nested Tuple**

In [9]:
[ ] # Create a nest tuple

NestedT =(1, 2, ("pop", "rock") , (3,4),("disco",(1,2)))
NestedT[4][1][1]

2

In [10]:
[ ] # print element on each index

# print("Element 0 of Tuple:", NestedT[0])
# print("Element 1 of Tuple:", NestedT[1])
# print("Element 2 of Tuple:", NestedT[2])
# print("Element 3 of Tuple:", NestedT[3])
print("Element 4 of Tuple:", NestedT[4][1][1])

Element 4 of Tuple: 2

In [11]:
[ ] # print element on each index, inculding nest indexes

print("Element 2, 0 of Tuple:", NestedT[2][0])
print("Element 2, 1 of Tuple:", NestedT[2][1])
print("Element 3, 0 of Tuple:", NestedT[3][0])
print("Element 3, 1 of Tuple:", NestedT[3][1])
print("Element 4, 0 of Tuple:", NestedT[4][0])
print("Element 4, 1 of Tuple:", NestedT[4][1])

Element 2, 0 of Tuple: pop
Element 2, 1 of Tuple: rock
Element 3, 0 of Tuple: 3
Element 3, 1 of Tuple: 4
Element 4, 0 of Tuple: disco
Element 4, 1 of Tuple: (1, 2)

In [12]:
[ ] #Print teh first elemenet in the second nested tuples

NestedT[2][1][0]

'r'

In [13]:
[ ] # print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [15]:
[ ] # print the first element in the second nested tuples

NestedT[4][1][0]

1

In [16]:
[ ] # print the first element in the second nested tuples
NestedT[4][1][1]

2

In [17]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [19]:
len(genres_tuple)

8